<section class="flex flex-col gap-[60px] px-4 sectionPaddingY max-w-screen-xl mx-auto border-b-2 border-b-[#101010]">
  <h2 class="text-center mb-0">News and Events</h2>
  <!-- News card cards -->

  <div class="grid grid-rows-2 md:grid-cols-[1fr,1fr] gap-x-10 gap-y-5">
    <!-- first div -->
    <div
      class="EventSectonFadeUp lg:row-span-2 bg-[url(https://fakeimg.pl/300x200/1a1a1a/1f1f1f)] bg-center bg-cover bg-no-repeat h-full w-full flex flex-col justify-end p-8">
      <span class="text-gray-600 text-small font-bold">Mar 23</span>
      <h4 class="text-gray-300">Upcomming Event</h4>
      <!-- <p class="text-sm text-gray-500 font-medium max-w-md" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque vel harum nesciunt iste nihil recusandae officia deserunt, alias excepturi architecto quibusdam ad voluptatibus sequi. Ducimus fugiat non quasi repellendus et!</p> -->
    </div>
    <div class="EventSectonFadeUp flex flex-col lg:flex-row gap-5 group">
      <img src="https://fakeimg.pl/140x140/1a1a1a/1f1f1f" alt="" class="object-cover lg:aspect-square lg:h-[340px]" />
      <div class="">
        <span class="text-gray-600 text-sm font-black font-primary">Mar 31</span>
        <h4 class="text-gray-200 mb-0">This is an example of a long title</h4>
        <p class="text-sm max-w-[380px] text-gray-300">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores
          voluptate nisi pariatur soluta.
        </p>
        <button class="flex items-center gap-3 w-full mt-5">
          <span
            class="relative font-primary font-medium group-hover:tracking-wider group-hover:bg-gradient-to-r group-hover:from-yellow-300 group-hover:to-amber-300 group-hover:bg-clip-text group-hover:text-transparent duration-1000">
            Learn more
          </span>
          <span class="relative">
            <!-- line -->
            <span
              class="before:w-12 before:h-0.5 before:bg-white before:absolute before:duration-1000 group-hover:before:bg-gradient-to-r group-hover:before:from-amber-300 group-hover:before:to-amber-400">
            </span>
            <!-- arrow -->
            <span
              class="after:border after:border-t-[5px] after:border-b-[5px] after:border-l-[5px] after:border-transparent after:border-l-white after:absolute after:-top-1 after:-right-[50px] after:duration-1000 group-hover:after:border-l-amber-500">
            </span>
          </span>
        </button>
      </div>
    </div>
    <div class="EventSectonFadeUp flex flex-col lg:flex-row gap-5 group">
      <img src="https://fakeimg.pl/140x140/1a1a1a/1f1f1f" alt="" class="object-cover lg:aspect-square lg:h-full" />
      <div class="">
        <span class="text-gray-600 text-sm font-black font-primary">Mar 31</span>
        <h4 class="text-gray-200 mb-0">This is an example of a long title</h4>
        <p class="text-sm max-w-[380px] text-gray-300">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores
          voluptate nisi pariatur soluta.
        </p>
        <button class="flex items-center gap-3 w-full mt-5">
          <span
            class="relative font-primary font-medium group-hover:tracking-wider group-hover:bg-gradient-to-r group-hover:from-yellow-300 group-hover:to-amber-300 group-hover:bg-clip-text group-hover:text-transparent duration-1000">
            Learn more
          </span>
          <span class="relative">
            <!-- line -->
            <span
              class="before:w-12 before:h-0.5 before:bg-white before:absolute before:duration-1000 group-hover:before:bg-gradient-to-r group-hover:before:from-amber-300 group-hover:before:to-amber-400">
            </span>
            <!-- arrow -->
            <span
              class="after:border after:border-t-[5px] after:border-b-[5px] after:border-l-[5px] after:border-transparent after:border-l-white after:absolute after:-top-1 after:-right-[50px] after:duration-1000 group-hover:after:border-l-amber-500">
            </span>
          </span>
        </button>
      </div>
    </div>
    <div class="EventSectonFadeUp flex flex-col lg:flex-row gap-5 group">
      <img src="https://fakeimg.pl/140x140/1a1a1a/1f1f1f" alt="" class="object-cover lg:aspect-square lg:h-full" />
      <div class="">
        <span class="text-gray-600 text-sm font-black font-primary">Mar 31</span>
        <h4 class="text-gray-200 mb-0">This is an example of a long title</h4>
        <p class="text-sm max-w-[380px] text-gray-300">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores
          voluptate nisi pariatur soluta.
        </p>
        <button class="flex items-center gap-3 w-full mt-5">
          <span
            class="relative font-primary font-medium group-hover:tracking-wider group-hover:bg-gradient-to-r group-hover:from-yellow-300 group-hover:to-amber-300 group-hover:bg-clip-text group-hover:text-transparent duration-1000">
            Learn more
          </span>
          <span class="relative">
            <!-- line -->
            <span
              class="before:w-12 before:h-0.5 before:bg-white before:absolute before:duration-1000 group-hover:before:bg-gradient-to-r group-hover:before:from-amber-300 group-hover:before:to-amber-400">
            </span>
            <!-- arrow -->
            <span
              class="after:border after:border-t-[5px] after:border-b-[5px] after:border-l-[5px] after:border-transparent after:border-l-white after:absolute after:-top-1 after:-right-[50px] after:duration-1000 group-hover:after:border-l-amber-500">
            </span>
          </span>
        </button>
      </div>
    </div>
    <div class="EventSectonFadeUp flex flex-col lg:flex-row gap-5 group">
      <img src="https://fakeimg.pl/140x140/1a1a1a/1f1f1f" alt="" class="object-cover lg:aspect-square lg:h-full" />
      <div class="">
        <span class="text-gray-600 text-sm font-black font-primary">Mar 31</span>
        <h4 class="text-gray-200 mb-0">This is an example of a long title</h4>
        <p class="text-sm max-w-[380px] text-gray-300">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores
          voluptate nisi pariatur soluta.
        </p>
        <button class="flex items-center gap-3 w-full mt-5">
          <span
            class="relative font-primary font-medium group-hover:tracking-wider group-hover:bg-gradient-to-r group-hover:from-yellow-300 group-hover:to-amber-300 group-hover:bg-clip-text group-hover:text-transparent duration-1000">
            Learn more
          </span>
          <span class="relative">
            <!-- line -->
            <span
              class="before:w-12 before:h-0.5 before:bg-white before:absolute before:duration-1000 group-hover:before:bg-gradient-to-r group-hover:before:from-amber-300 group-hover:before:to-amber-400">
            </span>
            <!-- arrow -->
            <span
              class="after:border after:border-t-[5px] after:border-b-[5px] after:border-l-[5px] after:border-transparent after:border-l-white after:absolute after:-top-1 after:-right-[50px] after:duration-1000 group-hover:after:border-l-amber-500">
            </span>
          </span>
        </button>
      </div>
    </div>

  </div>

  <button
    class="group relative overflow-hidden py-4 px-8 text-sm font-bold uppercase border border-white hover:border-transparent after:content-[''] after:w-full after:h-full after:absolute after:rotate-45 after:-bottom-10 after:left-0 after:scale-[2.6] after:-z-10 after:-translate-x-full after:translate-y-full hover:after:-translate-y-0 hover:after:translate-x-0 hover:after:rotate-0 hover:after:ease-in-out after:duration-1000 hover:text-black text-white after:bg-gradient-to-r after:from-yellow-300 after:via-amber-300 after:to-amber-400 hover:tracking-wider duration-1000 font-primary flex flex-nowrap gap-2 mx-auto">
    Explore All News
  </button>
</section>