yay
xfce4
Thunar
systemd
syncthing
Slack
pulse
nitrogen
neofetch
htop
gtk-3.0
gtk-2.0
google-chrome
epiphany
dconf
cubocore
Code-OSS
Code - OSS/
BraveSoftware
aseprite
menus/*
mimeapps.list
pavucontrol.ini
obsidian
obsidian/*
obs-studio
vlc
blender/
Local