yay
xfce4
Thunar
systemd
syncthing
Slack
pulse
nitrogen
htop
gtk-3.0
gtk-2.0
google-chrome
epiphany
dconf
cubocore
Code-OSS
Code - OSS/
BraveSoftware
aseprite
menus/*
mimeapps.list
pavucontrol.ini
obsidian
obsidian/*
obs-studio
vlc
blender
Local
GIMP
inkscape
JetBrains
Motrix
heroic
filezilla
Cursor
code-oss
autostart
Mousepad
legendary
libreoffice
lutris
spotify
spotify/Users
Clockify
legendary
Postman
Signal
spotify
QtProject.conf