<section class="relative space-y-8 group">
  <div class="px-3 md:px-6 py-20 max-w-screen-2xl mx-auto">
    <h2
      class="font-black text-center mx-auto md:max-w-[680px] text-white z-10 leading-[4rem]"
    >
      Projects We have Worked On.
    </h2>
    <p class="mx-auto md:max-w-[680px] text-center">
      Lorem ipsum dolor sit amet consectetur. Vulputate ante nulla libero
      imperdiet. Mattis laoreet tortor purus sit vel. Lacus vivamus vitae
      ullamcorper
    </p>
    <div
      class="swiffy-slider slider-nav-arrow slider-nav-sm slider-nav-outside slider-nav-autopause slider-indicators-outside slider-nav-animation-slideup"
      data-slider-nav-autoplay-interval="3000"
    >
      <ul class="slider-container">
        <li class="slide-visible">
          <div id="slide1">
            <%- include('../Component/cardWork.ejs',{title:'Mid-Valley
            International College'}) %>
          </div>
        </li>
        <li>
          <div id="slide2">
            <%- include('../Component/cardWork.ejs',{title:'Mid-Valley
            International College'}) %>
          </div>
        </li>
        <li>
          <div id="slide3">
            <%- include('../Component/cardWork.ejs',{title:'Mid-Valley
            International College'}) %>
          </div>
        </li>
        <li>
          <div id="slide4">
            <%- include('../Component/cardWork.ejs',{title:'Mid-Valley
            International College'}) %>
          </div>
        </li>
      </ul>

      <button type="button" class="slider-nav"></button>
      <button type="button" class="slider-nav slider-nav-next"></button>

      <ul class="slider-indicators">
        <li class=""></li>
        <li class="active"></li>
        <li class=""></li>
        <li class=""></li>
      </ul>
    </div>

    <button
      class="z-10 relative overflow-hidden mt-28 py-4 px-8 text-sm font-bold uppercase border border-white hover:border-transparent after:content-[''] after:w-full after:h-full after:absolute after:rotate-45 after:-bottom-10 after:left-0 after:scale-[2.6] after:-z-10 after:-translate-x-full after:translate-y-full hover:after:-translate-y-0 hover:after:translate-x-0 hover:after:rotate-0 hover:after:ease-in-out after:duration-1000 hover:text-black text-white after:bg-gradient-to-r after:from-yellow-300 after:via-amber-300 after:to-amber-400 hover:tracking-wider duration-1000 font-primary flex flex-nowrap gap-2 mx-auto mb-10"
    >
      Show All Works
    </button>
  </div>
</section>
