<div class="group flex  flex-col-reverse justify-center lg:flex-row gap-10 p-5 md:p-10 lg:p-20">
  <div class="flex flex-col gap-10">
    <div class="flex flex-col justify-between gap-20 h-full">
      <div>
        <h2 class=" duration-1000 text-slate-200 font-semibold">
          <%= title %>
        </h2>
        <p class="text-lg text-slate-300  duration-1000 mb-5 leading-7 max-w-md">
          Lorem ipsum dolor sit amet consectetur. Vulputate ante nulla libero
          imperdiet. Mattis laoreet tortor purus sit vel. Lacus vivamus vitae
          ullamcorper
        </p>
        <p class="text-lg text-slate-300  duration-1000 leading-7 max-w-md">
          Lorem ipsum dolor sit amet consectetur. Vulputate ante nulla libero
          imperdiet. Mattis laoreet tortor purus sit vel. Lacus vivamus vitae
          ullamcorper
        </p>
      </div>
      <!-- bg-gradient-to-r from-yellow-300 via-amber-300 to-amber-500 bg-clip-text text-transparent -->
      <button class="flex items-center gap-3 text-lg w-full h-20">
        <span class="relative font-primary font-medium group-hover:tracking-wider group-hover:bg-gradient-to-r group-hover:from-yellow-300 group-hover:to-amber-300  group-hover:bg-clip-text group-hover:text-transparent  duration-1000">
          About Mid-Valley
        </span>
        <span class="relative">
          <!-- line -->
          <span
            class="before:w-12 before:h-0.5 before:bg-white  before:absolute before:duration-1000 group-hover:before:bg-gradient-to-r  group-hover:before:from-amber-300 group-hover:before:to-amber-400">
          </span>
          <!-- arrow -->
          <span
            class="after:border after:border-t-[5px] after:border-b-[5px] after:border-l-[5px] after:border-transparent after:border-l-white  after:absolute after:-top-1 after:-right-[50px] after:duration-1000 group-hover:after:border-l-amber-500">
          </span>
        </span>
      </button>
    </div>
  </div>
  <img src="https://fakeimg.pl/450x450/1a1a1a/ffffff" alt=""
    class="object-cover duration-500 max-h-[460px] max-w-[460px] aspect-square" />
</div>