<div
  class="relative z-10 overflow-hidden group w-full h-full duration-1000 after:content-[''] after:bg-gradient-to-br after:from-yellow-300 after:via-amber-300 after:to-amber-500 after:w-full after:h-full after:absolute after:rotate-45 after:-bottom-full after:-right-[5000px] after:scale-[2.5] after:-z-20 hover:after:bottom-0 hover:after:right-0 hover:after:rotate-0 hover:after:ease-in-out after:duration-1000 after:ease-in-out border border-[#202020] hover:border-transparent grid grid-cols-1 md:grid-cols-2 lg:grid-cols-1 justify-center items-center justify-items-center gap-6 p-6 py-12 lg:p-10 lg:max-w-[500px] bg-[#222222]"
>
  <img
    src="./assets/test-ida.svg"
    alt=""
    class="object-cover brightness-[300] group-hover:brightness-0 md:scale-125 group-hover:scale-125 duration-500 max-w-[200px] px-5 mb-10"
  />
  <div class="flex flex-col justify-center">
    <h2 class="group-hover:text-black duration-1000 text-slate-200 mb-5">
      <%= title %>
    </h2>
    <p
      class="text-lg text-slate-300 group-hover:text-black duration-1000 mb-10 leading-7 max-w-md"
    >
      🌟 Discover the art of branding with us. From logos to stories, we craft
      identities that resonate. Unleash your brand's potential today! 🚀🎨
      #OneStopBranding
    </p>
    
    <button class="flex items-center gap-3 text-lg w-full h-20">
      <span
        class="relative font-primary font-medium group-hover:tracking-wider group-hover:text-black duration-1000"
      >
        About <%= title %>
      </span>
      <span class="relative">
        <!-- line -->
        <span
          class="before:w-12 before:h-0.5 before:bg-white before:group-hover:bg-black before:absolute before:duration-1000"
        >
        </span>
        <!-- arrow -->
        <span
          class="after:border after:border-t-[5px] after:border-b-[5px] after:border-l-[5px] after:border-transparent after:border-l-white after:group-hover:border-l-black after:absolute after:-top-1 after:-right-[50px] after:duration-1000"
        >
        </span>
      </span>
    </button>
  </div>
</div>
