<section class=" snap-center group">
  <div class="relative ">
    <div
      id="container"
      class="absolute top-0 left-0 lg:max-w-lg  lg:w-auto lg:h-auto lg:pb-[40%] lg:pr-[70%]  -z-10"
    ></div>
  </div>
  <div
    class="max-w-screen-xl mx-auto text-center  space-y-4 px-6  md:pb-20 py-10 pb-4"   
  >
    <h1 class="flex mb-5 text-slate-100 text-8xl">
      <h1 class="heroSectonFadeUp leading-[55px] md:leading-[100px] uppercase md:text-[84px] lg:text-end">One Stop</h1>
      <h1 class="heroSectonFadeUp leading-[55px] md:leading-[100px] uppercase md:text-[84px] lg:text-end">Solution</h1>
      <h1 class="heroSectonFadeUp leading-[55px] md:leading-[100px] uppercase md:text-[84px] lg:text-end">To Your</h1>
<!-- Branding, Marketing, Content section. -->
      <h1
        class="relative lg:h-[7rem] h-[3rem] w-full text-primary uppercase md:text-[84px] lg:text-end"
      >
        <span
          class="font-primary absolute top-1/2 inset-0 flex items-center justify-center lg:justify-end bg-gradient-to-r from-yellow-300 via-amber-300 to-amber-500 bg-clip-text text-transparent md:h-[10rem] h-[4rem] w-full animate-textSwipeUp"
        >
          Branding
        </span>
        <span
          class="font-primary absolute top-1/2 inset-0 flex items-center justify-center lg:justify-end bg-gradient-to-r from-yellow-300 via-amber-300 to-amber-500 bg-clip-text text-transparent md:h-[10rem] h-[4rem] w-full animate-textSwipeUp animation-delay-9000 pb-3"
        >
          Marketing
        </span>
        <span
          class="font-primary absolute top-1/2 inset-0 flex items-center justify-center lg:justify-end bg-gradient-to-r from-yellow-300 via-amber-300 to-amber-500 bg-clip-text text-transparent md:h-[10rem] h-[4rem] w-full animate-textSwipeUp animation-delay-6000 pb-3"
        >
          Content
        </span>
        <span
          class="font-primary absolute top-1/2 inset-0 flex items-center justify-center lg:justify-end bg-gradient-to-r from-yellow-300 via-amber-300 to-amber-500 bg-clip-text text-transparent md:h-[10rem] h-[4rem] w-full animate-textSwipeUp animation-delay-3000 pb-3"
        >
          Creative
        </span>
      </h1>
      <h1 class="heroSectonFadeUp leading-[55px] md:leading-[100px] uppercase md:text-[84px] lg:text-end">Needs</h1>

      <p
        class="heroSectonFadeUp text-gray-300  text-center lg:text-end text-lg p-5 max-w-[500px] mx-auto lg:mr-0  backdrop-blur bg-white bg-opacity-5"
      >
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam corporis
        aspernatur debitis, harum beatae similique ipsum ipsam sapiente.
      </p>

    </h1>
    <div class="flex justify-end">

      <button
        class="relative overflow-hidden py-4 px-8 text-sm font-bold uppercase border border-white group-hover:border-transparent after:content-[''] after:w-full after:h-full after:absolute after:rotate-45 after:-bottom-10 after:left-0 after:scale-[2.6] after:-z-10 after:-translate-x-full after:translate-y-full group-hover:after:-translate-y-0 group-hover:after:translate-x-0 group-hover:after:rotate-0 group-hover:after:ease-in-out after:duration-1000 group-hover:text-black text-white after:bg-gradient-to-r after:from-yellow-300 after:via-amber-300 after:to-amber-400 duration-1000 mx-auto"
      >
        Let's Talk
      </button>
    </div>
  </div>
  
</section>
